html {
  height: 100%;
}

*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url('https://bit.ly/2KbyMSa');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.header {
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1em;
}



.main-content {
  list-style: none;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.main-content input {
  width: 17em;
  height: 2em;
}

.main-content li {
  padding: 1em 1em;

}

.hometeam {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.home-banner {
  font-size: 2em;
  text-align: center;
}



.home-score-numbers {
 font-size: 4em; 
}

.hometeam-name {
  display: flex;
  list-style: none;
  font-size: 30px;
  
}

.update-hometeam-name {
  font-size: 0.8em;
  padding: 8px;
  border-radius: 0.8em;
}

.hometeam-score-update {
  display: flex;
  list-style: none;
  font-size: 1.5em;
}

.hometeam-score-update button{
  padding: 1em;
  border-radius: 0.4em;
  font-size: 12px;
  font-weight: bold;

 
}

.awayteam {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center; 
}

.away-banner {
  font-size: 2em;
}

.away-score-numbers {
 font-size: 4em; 
}

.awayteam-name {
  display: flex;
  list-style: none;
  font-size: 30px;
}

.update-awayteam-name {
  font-size: 0.8em;
  padding: 8px;
  border-radius: 1em;
}

.awayteam-score-update {
  display: flex;
  list-style: none;
  font-size: 1.5em;
}

.awayteam-score-update button{
  padding: 1em;
  border-radius: 0.4em;
  font-size: 12px;
  font-weight: bold;
}

.quarter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14em;
}

.quarter-banner {
  font-size: 2em;
  padding: 1em;
}

.quarter-number {
  font-size: 3em;
  padding: 1em;
}

.change-quarter {
  padding: 1em;
  border-radius: 0.4em;
  font-size: 12px;
  font-weight: bold;
}


@media (max-width: 600px) {

  body {
    background-image: url("https://bit.ly/2vk5kUx");
    background-position: center;
    min-height: 100%;
    background-repeat: repeat;
    background-size: auto;
  }

  .main-content {
    list-style: none;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .main-content input {
    width: 11em;
    height: 2em;
  }

  .hometeam-name {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2em;
    align-items: center;
  }

  .hometeam-score-update {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.5em;
    align-items: center;
  }

  .awayteam-name {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2em;
    align-items: center;
  }

  .awayteam-score-update {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.5em;
    align-items: center;
  }

  .hometeam-namer {
    font-size: 1.8em;
    display: none;
  }

  .awayteam-namer {
    font-size: 2em;
    display: none;
  }

  .quarter {
    position: absolute;
    top: 18em;
    right: 8.5em;
  }

  .quarter-banner {
    font-size: 1.5em;
    padding: 0.5em;
  }

  .quarter-number {
    font-size: 2em;
    padding: 1em;
  }

  .change-quarter {
    padding: 0.5em;
    border-radius: 0.4em;
    font-size: 8px;
    font-weight: bold;
  }
  
}


