html {
  height: 100%;
}

*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url('https://bit.ly/2KbyMSa');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.header {
  font-size: 4em;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.main-content {
  display: flex;
  justify-content: space-evenly;

}

.main-content {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-content input {
  width: 17em;
  height: 2em;
}

.main-content li {
  padding: 1em 1em;

}

.hometeam {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.home-banner {
  font-size: 1.8em;
}



.home-score-numbers {
 font-size: 4em; 
}

.hometeam-name {
  display: flex;
  list-style: none;
  font-size: 2em;
}

.update-hometeam-name {
  font-size: 0.8em;
  padding: 8px;
  border-radius: 1em;
}

.hometeam-score-update {
  display: flex;
  list-style: none;
  font-size: 1.5em;
}

.awayteam {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center; 
}

.away-banner {
  font-size: 2em;
}

.away-score-numbers {
 font-size: 4em; 
}

.awayteam-name {
  display: flex;
  list-style: none;
  font-size: 1.8em;
}

.update-awayteam-name {
  font-size: 0.8em;
  padding: 8px;
  border-radius: 1em;
}

.awayteam-score-update {
  display: flex;
  list-style: none;
  font-size: 1.5em;
}



